body {
    background-color: aquamarine;  
}
h1 {
    font-size: 35px;
    color:rgb(199, 41, 88);
    padding:  20px;
   
    
}
.content {
    justify-content: space-between;
    display: flex;
    margin: 20px;
}
.content-left {
    background-color: chocolate;
    
    border: 3px solid rgb(26, 135, 213);
    border-radius: 20px;
    color: black;
    width: 550px;
    margin: 20px;
    padding: 25px;
    

}
.content-right {
   
    background-color: firebrick;
    border: 3px solid  rgb(26, 135, 213);
    border-radius: 20px;
    width: 550px;
    height: 500px;
    margin: 20px;
    padding: 25px;
   
    
   
    
}

.header{
    position: absolute;
    right: 10px;
}
.cart{
    width: 550px;
    height: 470px;
}
