body {
    background-color: aquamarine;  
}
h1 {
    font-size: 35px;
    color:rgb(199, 41, 88);
    padding:  20px;
   
    
}
.content-left {
    background-color: chocolate;
    position: absolute;
    left: 60px;
    top: 140px;
    border: 3px solid rgb(26, 135, 213);
    border-radius: 10px;
    color: black;
    margin: 20px;
    padding: 25px;
}
.content-right {
    position: absolute;
    background-color: firebrick;
    top: 140px;
    right: 140px;
    border: 3px solid  rgb(26, 135, 213);
    border-radius: 20px;
    width: 550px;
    height: 415px;
    margin: 20px;
    padding: 25px;
}
.content {
    margin-top: auto;
    margin-left: auto;
}
.header{
    position: absolute;
    right: 10px;
}